@(field: Field, help: String = "")

<div class="price">
	<div class="form-group">
		<button class="btn btn-danger btn-xs price-remove" title="remove price"><span class="glyphicon glyphicon-minus"></span></button>
	</div>
	<div class="form-group @if(field.hasErrors) {has-error}">
	  	<label for="@field.id" class="control-label top sr-only">Amount</label>
	    <input type="text" class="form-control" name="@field.name" id="@field.id" value="@field.value.getOrElse("")" placeholder="Amount" />
	    @if(help.length > 0) { <span class="help-block">@help</span> }
	    @if(field.hasErrors) {
	    	@if(field.errors.length > 0) {
	    		<span class="help-block">@{field.errors.map { error => Messages(error.message, error.args: _*) }}</span>
	    	}
	    } else {
	    	@if(field.constraints.length > 0) {
	    		<span class="help-block">@{field.constraints.map { constraint => Messages(constraint._1, constraint._2) }}</span>
	    	}
	    }
	</div>
</div>