.sort {
  user-select: none;
  .asc, .desc { display: none; }
  &.active {
    .none {display: none; }
    .asc, .desc { display: inline-block; }
  }
}

.card {
  margin: 20px 10px;
  padding: 10px 7px;
  overflow: hidden;
  color: #737373;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  .card-heading {
    margin-top: 0px;
    font-weight: bold;
    font-size: 13px;
  }
  &.current {
    background: #f0f0f0;
  }
  &.active {
    color: #fff;
    background-color: #428bca;
  }
}
.card:first-child {
  margin-top: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
