.phone-demo {
  background-image: url(../images/nexus4_real.png);
  width: 428px;
  height: 830px;
  padding: 119px 22px 143px 22px;

  &.ionic {
    & ng-include > div {
      background-color: #eee;
      margin-top: -10px;
    }
    .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 5px;
      width: 100%;
    }
    .col {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: block;
      padding: 5px;
      width: 100%;
    }
    .card {
      padding-top: 1px;
      padding-bottom: 1px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      margin: 20px 10px;
      border-radius: 2px;
      background-color: #fff;
    }
    .row.card {
      width: auto;
    }
  }

  .screen {
    background: #eee;
    width: 100%;
    height: 100%;
    overflow: auto;


    .cook-screen {
      .card {
        margin: 10px;
        padding: 10px;
      }

      h1, h2 {
        font-size: 20px;
        color: #fff;
      }

      .header {
        padding: 0px;
        background: #E87151;
        .col {
          padding: 0px;
        }
        .picture {
          img {
            width: 100%;
          }
        }
        .text {
          margin: 10px;
          position: relative;
          .tags {
            position: absolute;
            bottom: 0px;
            span {
              color: #fff;
              padding: 4px 10px;
              background: rgba(0,0,0,0.2);
              border-radius: 12px;
            }
          }
        }
      }
      .requirements {
        color: #fff;
        background: #26C0B8;
        ul {
          .accompagnement, .facultatif {
            float: left;
            padding-right: 5px;
            color: rgba(255,255,255,0.7);
            white-space: nowrap;
          }
          .accompagnement:after, .facultatif:after { content: ','; }
          .accompagnement:last-child:after, .facultatif:last-child:after { content: ''; }
        }
      }
      .cooking {
        background-image: linear-gradient(#E9ECF1, #444);
        padding-bottom: 1px;
        h2 {
          margin: 10px;
          margin-top: 25px;
          color: #666;

          margin-top: 0px;
        }
        .step {
          padding: 10px;
          h3 {
            margin-top: 0px;
            text-align: center;
            color: #666;
            font-weight: bold;
          }
          ul, ol {
            list-style-position: inside;
            margin: 5px;
          }
          ul { list-style-type: circle; }
          ol { list-style-type: decimal; }
          .help {
            color: #888;
          }
        }
        .timers {
          margin: 10px;
        }
      }
      .cooked {
        background: #444;
        img {
          width: 100%;
        }
        .content {
          button {
            display: block;
            margin: 20px auto;
            min-width: 200px;
            font-size: 25px;
          }
          h1 {
            padding-bottom: 20px;
            color: #f62;
            font-size: 40px;
            text-align: center;
          }
        }
      }
    }

    .timer {
      padding: 5px;
      margin: 10px 20px;
      box-shadow: 0 4px 15px -4px #000;
      color: #fff;
      &.alarm {
        -webkit-animation: blink 1.2s linear infinite;
        -moz-animation: blink 1.2s linear infinite;
        -ms-animation: blink 1.2s linear infinite;
        -o-animation: blink 1.2s linear infinite;
        animation: blink 1.2s linear infinite;
      }
      .label {
        margin-bottom: 0px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        display: block;
        font-weight: normal;
      }
      .time {
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
      }
      .steps {
        list-style: none;
        margin-left: 55px;
        padding: 0px;
        border-left: 8px solid #eee9dc;
        .step {
          position: relative;
          margin: 5px 0;
          padding: 50px 5px 0;
          border: none;
          .date {
            position: absolute;
            top: 50%;
            left: -58px;
            margin-top: -3px;
          }
          .circle {
            position: absolute;
            top: 50%;
            left: -14px;
            margin-top: -3px;
            width: 20px;
            height: 20px;
            background: #bbb;
            border: 5px solid #eee9dc;
            border-radius: 50%;
          }
          .label {
            position: absolute;
            top: 23px;
            left: 15px;
            width: 100%;
            font-size: 1em;
            text-align: left;
          }
          &.unselected {
            color: rgba(255,255,255,0.5);
            .label { color: rgba(255,255,255,0.5); }
            .circle { border-color: rgba(255,255,255,0.5); }
          }
          &.selected {
            font-weight: bold;
            .circle { background: #bbb; }
          }
        }
      }
      // colors from http://www.colourlovers.com/palette/845564/its_raining_love
      &.green, &.green .circle { background: #A3A948; }
      &.yellow, &.yellow .circle { background: #EDB92E; }
      &.orange, &.orange .circle { background: #F85931; }
      &.red, &.red .steps .circle { background: #CE1836; }
      &.blue, &.blue .circle { background: #009989; }
    }
  }
}