.phone-demo {
  background-image: url(../images/nexus4_real.png);
  width: 428px;
  height: 830px;
  padding: 119px 22px 143px 22px;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}