$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Base structure */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Sidebar */
.sidebar {
  padding: 20px;
}

/* Main content */
.main {
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.main .page-header {
  margin-top: 0;
}
