$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "dashboard/_variables";
@import "dashboard/_mixins";
@import "dashboard/_global";
@import "dashboard/_loading";
@import "dashboard/_content";
@import "dashboard/_header";
@import "dashboard/_sidebar";
@import "dashboard/_widgets";
@import "dashboard/_hamburg";
@import "_recipes";

[ng-click], [ui-sref] {
  cursor: pointer;
}

a.active {
  font-weight: bold;
  text-decoration: underline;
}

ul, ol {
  padding-left: 20px;
}

.source {
  display: block;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Form */
.input-small { max-width: 80px; }
.input-medium { max-width: 120px; }
.form-group .form-group { margin-bottom: 0px; }
