@(contactForm: Form[SampleComplexForm.Contact])

@import helpers.bs3Tmpl._

@admin.main("Sample complex form", "samples") {
	<div class="row">
		<div class="col-sm-offset-1 col-md-10 card-black">
			<h2>Contact form</h2>
			@defining(true) { horizontal =>
				@helper.form(routes.SampleComplexForm.create, 'class -> {if(horizontal) "form-horizontal" else ""}) {
					@bs3Text(contactForm("firstname"), label="Firstname", horizontal=horizontal)
					@bs3Text(contactForm("lastname"), label="Lastname", horizontal=horizontal)
					@bs3Text(contactForm("company"), label="Company", horizontal=horizontal)
					@helper.repeat(contactForm("informations"), min=0) { informationField =>
						<div class="form-group">
							<label class="control-label @if(horizontal){col-md-2}">Information</label>
							@if(horizontal){<div class="col-md-10">}
								<div class="form-inline">
									@bs3Text(informationField("label"), horizontal=horizontal, inline=true)
									@bs3Text(informationField("email"), horizontal=horizontal, inline=true)
								</div>
								@helper.repeat(informationField("phones"), min=0) { phoneField =>
									@bs3Text(phoneField, label="Phone", horizontal=true)
								}
							@if(horizontal){</div>}
						</div>
					}
					<div class="form-group">
			            <a href="@routes.SampleComplexForm.index" class="btn btn-default">Cancel</a>
			            <button type="submit" class="btn btn-primary">Update</button>
			        </div>
				}
			}
		</div>
	</div>
}