@(sampleForm: Form[SampleInputTypes.Contact], sexeValues: List[String], languageValues: List[String], frameworkValues: List[String], statusValues: List[String])

@import helper._
@import helpers.bs3Tmpl.form._

@admin.main("Sample input types", "samples") {
	<div class="row">
		<div class="col-md-6 card-black">
			<h2>Input types</h2>
			@defining(true) { horizontal =>
				@helper.form(routes.SampleInputTypes.create, 'class -> {if(horizontal) "form-horizontal" else ""}) {
					@bs3RadioGroup(sampleForm("sexe"), sexeValues, horizontal=horizontal)
					@bs3Text(sampleForm("mail"), horizontal=horizontal)
					@bs3Password(sampleForm("password"), horizontal=horizontal)
					@bs3Select(sampleForm("status"), options(statusValues), horizontal=horizontal)
					@bs3MultiSelect(sampleForm("languages"), options(languageValues), horizontal=horizontal)
					@bs3CheckboxGroup(sampleForm("frameworks"), options(frameworkValues), horizontal=horizontal)
					@bs3Textarea(sampleForm("bio"), horizontal=horizontal)
					<div class="form-group">
			            <a href="@routes.SampleInputTypes.index" class="btn btn-default">Cancel</a>
			            <button type="submit" class="btn btn-primary">Update</button>
			        </div>
				}
			}
		</div>
		<div class="col-md-6 card-black">
			<h2>Input types</h2>
			@defining(false) { horizontal =>
				@helper.form(routes.SampleInputTypes.create, 'class -> {if(horizontal) "form-horizontal" else ""}) {
					@bs3RadioGroup(sampleForm("sexe"), sexeValues, horizontal=horizontal)
					@bs3Text(sampleForm("mail"), horizontal=horizontal)
					@bs3Password(sampleForm("password"), horizontal=horizontal)
					@bs3Select(sampleForm("status"), options(statusValues), horizontal=horizontal)
					@bs3MultiSelect(sampleForm("languages"), options(languageValues), horizontal=horizontal)
					@bs3CheckboxGroup(sampleForm("frameworks"), options(frameworkValues), horizontal=horizontal)
					@bs3Textarea(sampleForm("bio"), horizontal=horizontal)
					<div class="form-group">
			            <a href="@routes.SampleInputTypes.index" class="btn btn-default">Cancel</a>
			            <button type="submit" class="btn btn-primary">Update</button>
			        </div>
				}
			}
		</div>
	</div>
}