@(sampleForm: Form[SampleInputTypes.Contact], sexeValues: List[String], languageValues: Seq[(String, String)], frameworkValues: Seq[(String, String)], statusValues: Seq[(String,String)])

@import helpers.bs3Tmpl._

@admin.main("Sample input types", "samples") {
	<div class="row">
		<div class="col-md-6 card-black">
			<h2>Input types</h2>
			@defining(true) { horizontal =>
				@helper.form(routes.SampleInputTypes.create, 'class -> {if(horizontal) "form-horizontal" else ""}) {
					@radiobuttons(sampleForm("sexe"), sexeValues, horizontal=horizontal)
					@text(sampleForm("mail"), horizontal=horizontal)
					@password(sampleForm("password"), horizontal=horizontal)
					@select(sampleForm("status"), statusValues, horizontal=horizontal)
					@selectMultiple(sampleForm("languages"), languageValues, horizontal=horizontal)
					@checkboxes(sampleForm("frameworks"), frameworkValues, horizontal=horizontal)
					@textarea(sampleForm("bio"), horizontal=horizontal)
					<div class="form-group">
			            <a href="@routes.SampleInputTypes.index" class="btn btn-default">Cancel</a>
			            <button type="submit" class="btn btn-primary">Update</button>
			        </div>
				}
			}
		</div>
		<div class="col-md-6 card-black">
			<h2>Input types</h2>
			@defining(false) { horizontal =>
				@helper.form(routes.SampleInputTypes.create, 'class -> {if(horizontal) "form-horizontal" else ""}) {
					@radiobuttons(sampleForm("sexe"), sexeValues, horizontal=horizontal)
					@text(sampleForm("mail"), horizontal=horizontal)
					@password(sampleForm("password"), horizontal=horizontal)
					@select(sampleForm("status"), statusValues, horizontal=horizontal)
					@selectMultiple(sampleForm("languages"), languageValues, horizontal=horizontal)
					@checkboxes(sampleForm("frameworks"), frameworkValues, horizontal=horizontal)
					@textarea(sampleForm("bio"), horizontal=horizontal)
					<div class="form-group">
			            <a href="@routes.SampleInputTypes.index" class="btn btn-default">Cancel</a>
			            <button type="submit" class="btn btn-primary">Update</button>
			        </div>
				}
			}
		</div>
	</div>
}