<div class="row" ng-if="model.malformedEvents && model.malformedEvents.length > 0">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-flash"></i> Malformed Events
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search.malformedEvents">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-if="status.loading && !(model.malformedEvents && model.malformedEvents.length > 0)"></rd-loading>
        <div class="table-responsive" ng-if="model.malformedEvents && model.malformedEvents.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom ({{malformedEventsFiltered.length}})</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elt in malformedEventsFiltered = (model.malformedEvents | filter:search.malformedEvents)">
                <td><pre>{{elt | json}}</pre></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-flash"></i> Users
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search.users">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-if="status.loading && !(model.users && model.users.length > 0)"></rd-loading>
        <div class="table-responsive" ng-if="model.users && model.users.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Email ({{usersFiltered.length}})</th>
                <th>LastSeen</th>
                <th>Created</th>
                <th>Settings</th>
              </tr>
            </thead>
            <tbody ng-repeat="elt in usersFiltered = (model.users | filter:search.users)">
              <tr ng-click="toggleUser(elt)">
                <td>{{elt.email}}</td>
                <td>{{elt.lastSeen | humanTime}}</td>
                <td>{{elt.created | datetime}}</td>
                <td>{{elt.settings | json}}</td>
              </tr>
              <tr ng-show="userSelected === elt">
                <td colspan="4">
                  <pre>{{elt | json}}</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-flash"></i> Events
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search.events">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-if="status.loading && !(model.events && model.events.length > 0)"></rd-loading>
        <div class="table-responsive" ng-if="model.events && model.events.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom ({{eventsFiltered.length}})</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Données</th>
              </tr>
            </thead>
            <tbody ng-repeat="elt in eventsFiltered = (model.events | filter:search.events)">
              <tr ng-click="toggleEvent(elt)">
                <td>{{elt.name}}</td>
                <td><user id="elt.userId"></user></td>
                <td title="{{elt.time | datetime}}">{{elt.time | humanTime}}</td>
                <td><event-data event="elt"></event-data></td>
              </tr>
              <tr ng-show="eventSelected === elt">
                <td colspan="4">
                  <pre>{{elt | json}}</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
