<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-cutlery"></i> Utilisation des recettes
        <span class="pull-right">Semaine 42</span>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body large no-padding" style="height: 800px;">
        idem avec la position des recettes
        <div chart data="weekRecipes" type="bar"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-cutlery"></i> Activité de la semaine
        <span class="pull-right">Semaine 42</span>
        <div class="clearfix"></div>
      </div>
      <div class="widget-body large no-padding">
        <div chart data="recipesThroughWeek" type="line"></div>
      </div>
    </div>
  </div>
</div>