<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80</div>
          <div class="comment">Utilisateurs en tout</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80 <small>(+10%)</small></div>
          <div class="comment">Utilisateurs la semaine dernière</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80 <small>(+10%)</small></div>
          <div class="comment">Utilisateurs hier</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80</div>
          <div class="comment">Utilisateurs aujourd'hui</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs par jour
      </div>
      <div class="widget-body large no-padding">
        <div chart="dailyUsers"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs actifs par semaine
      </div>
      <div class="widget-body large no-padding">
        <div chart="weeklyUsers"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <users-table-widget name="Utilisateurs" users="users"></users-table-widget>
  </div>
</div>