<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80</div>
          <div class="comment">Utilisateurs en tout</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80 <small>(+10%)</small></div>
          <div class="comment">Utilisateurs la semaine dernière</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80 <small>(+10%)</small></div>
          <div class="comment">Utilisateurs hier</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80</div>
          <div class="comment">Utilisateurs aujourd'hui</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs par jour
      </div>
      <div class="widget-body large no-padding">
        <div chart="dailyUsers"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs actifs par semaine
      </div>
      <div class="widget-body large no-padding">
        <div chart="weeklyUsers"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Tous les utilisateurs
        <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
        <div class="clearfix"></div>
      </div>
      <div class="widget-body large no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><th>Email</th><th>Vu</th><th>Créé</th><th>Téléphone</th><th></th></tr>
            </thead>
            <tbody>
              <tr><td><a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a></td><td><span class="text-success"><i class="fa fa-check"></i></span> 25 minutes</td><td>11 oct. 2014, 20:24:53</td><td>Nexus 4 (Android 4.4.4)</td><td><button class="btn btn-xs btn-info" ui-sref="user.dashboard.user({userId: 123})"><i class="fa fa-eye"></i></button></td></tr>
              <tr><td><a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a></td><td><span class="text-success"><i class="fa fa-check"></i></span> 25 minutes</td><td>11 oct. 2014, 20:24:53</td><td>Nexus 4 (Android 4.4.4)</td><td><button class="btn btn-xs btn-info" ui-sref="user.dashboard.user({userId: 123})"><i class="fa fa-eye"></i></button></td></tr>
              <tr><td><a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a></td><td><span tooltip="Could not connect!" class="text-warning ng-scope"><i class="fa fa-flash"></i></span> 25 minutes</td><td>11 oct. 2014, 20:24:53</td><td>Nexus 4 (Android 4.4.4)</td><td><button class="btn btn-xs btn-info" ui-sref="user.dashboard.user({userId: 123})"><i class="fa fa-eye"></i></button></td></tr>
              <tr><td><a href="mailto:loicknuchel@gmail.com">loicknuchel@gmail.com</a></td><td><span tooltip="Server Down!" class="text-danger ng-scope"><i class="fa fa-warning"></i></span> 25 minutes</td><td>11 oct. 2014, 20:24:53</td><td>Nexus 4 (Android 4.4.4)</td><td><button class="btn btn-xs btn-info" ui-sref="user.dashboard.user({userId: 123})"><i class="fa fa-eye"></i></button></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>