<div class="row">
  <div class="col-md-12">
    Inspiration :
    <ul>
      <li><a href="http://bootsnipp.com/snippets/featured/flat-user-profile-ui">http://bootsnipp.com/snippets/featured/flat-user-profile-ui</a></li>
      <li><a href="http://bootsnipp.com/snippets/featured/simple-user-profile">http://bootsnipp.com/snippets/featured/simple-user-profile</a></li>
      <li><a href="http://bootsnipp.com/snippets/featured/update-cards">http://bootsnipp.com/snippets/featured/update-cards</a></li>
      <li><a href="http://bootsnipp.com/snippets/featured/user-profile-widget">http://bootsnipp.com/snippets/featured/user-profile-widget</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <pre>{{user | json}}</pre>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <events-table-widget name="User events" events="events"></events-table-widget>
  </div>
</div>
