<div class="row">
  <div class="col-md-12">
    Inspiration :
    <ul>
      <li><a href="http://bootsnipp.com/snippets/featured/flat-user-profile-ui">http://bootsnipp.com/snippets/featured/flat-user-profile-ui</a></li>
      <li><a href="http://bootsnipp.com/snippets/featured/simple-user-profile">http://bootsnipp.com/snippets/featured/simple-user-profile</a></li>
      <li><a href="http://bootsnipp.com/snippets/featured/update-cards">http://bootsnipp.com/snippets/featured/update-cards</a></li>
      <li><a href="http://bootsnipp.com/snippets/featured/user-profile-widget">http://bootsnipp.com/snippets/featured/user-profile-widget</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-flash"></i> Evénements de l'utilisateur
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search.events">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body large no-padding">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Nom (1)</th>
                <th>Date</th>
                <th>Données</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>recipe-ingredients-showed</td>
                <td title="11 oct. 2014, 20:24:44">2 heures</td>
                <td><event-data event="elt"><span>{
  "recipe": "poulet et épinards !",
  "index": 5
}</span></event-data></td>
              </tr>
              <tr>
                <td colspan="4">
                  <pre>{
  "id": "bfe0060f-aa2f-4867-5e92-78d21ff0cba0",
  "name": "recipe-ingredients-showed",
  "time": 1413051884652,
  "dateinfo": {
    "year": 2014,
    "month": 9,
    "week": 41,
    "dayOfYear": 284,
    "dayOfWeek": 5
  },
  "user": "543975d0307f1aea00c54c1f",
  "source": {
    "url": "http://127.0.0.1:9002/#/app/recipes",
    "appVersion": "~"
  },
  "data": {
    "recipe": "bd662846-e155-4ff6-d0e2-1adadcd89d54",
    "index": 5
  }
}</pre>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>