<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80</div>
          <div class="comment">Utilisateurs en tout</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80 <small>(+10%)</small></div>
          <div class="comment">Utilisateurs la semaine dernière</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80 <small>(+10%)</small></div>
          <div class="comment">Utilisateurs hier</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12" ui-sref="user.dashboard.users">
    <div class="widget">
      <div class="widget-body">
        <div class="widget-icon green pull-left"><i class="fa fa-users"></i></div>
        <div class="widget-content pull-left">
          <div class="title">80</div>
          <div class="comment">Utilisateurs aujourd'hui</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs par jour
      </div>
      <div class="widget-body large no-padding">
        <div chart="dailyUsers"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs actifs par semaine
      </div>
      <div class="widget-body large no-padding">
        <div chart="weeklyUsers"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-users"></i> Utilisateurs <span ng-if="users !== undefined">({{usersFiltered.length}})</span>
        <input type="text" class="form-control input-sm pull-right" placeholder="Search" ng-model="userSearch" />
        <div class="clearfix"></div>
      </div>
      <div class="widget-body large no-padding">
        <rd-loading ng-if="users === undefined"></rd-loading>
        <div class="table-responsive" ng-show="users !== undefined">
          <table class="table">
            <thead>
              <tr><th>#</th><th>Email</th><th>Vu</th><th>Créé</th><th>Téléphone</th><th></th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in usersFiltered = (users | filter:userSearch)">
                <td>#{{$index+1}}</td>
                <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                <td><span last-seen="user.lastSeen"></span></td>
                <td>{{user.created | datetime}}</td>
                <td><span ng-repeat="device in user.devices" ng-if="device.model">{{device.model}} ({{device.platform}} {{device.version}}){{$last ? '' : ', '}}</span></td>
                <td><button class="btn btn-xs btn-info" ui-sref="user.dashboard.user({userId: user.id})"><i class="fa fa-eye"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>