@* from https://github.com/ics-software-engineering/play-example-form *@ 
@(field: Field, label: String = "", placeholder: String = "", help: String = "")

<div class="form-group @if(field.hasErrors) {has-error}">
  <label for="@field.id" class="col-sm-2 control-label">@if(label.length > 0){@label}else{@field.name}</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" id="@field.id" name="@field.name" value="@field.value.getOrElse("")" placeholder="@placeholder" />
    <span class="help-block">@help</span>
    @if(field.hasErrors) {
    	<span class="help-block">@{field.errors.map { error => Messages(error.message, error.args: _*) }}</span>
    } else {
    	<span class="help-block">@{field.constraints.map { constraint => Messages(constraint._1, constraint._2) }}</span>
    }
  </div>
</div>