@(field: Field, label: String = "", placeholder: String = "", help: String = "", rows: String = "3", horizontal: Boolean = false, inline: Boolean = false)

@fieldInput(field: Field, rows: String, placeholder: String) = {
	<textarea class="form-control" rows="@rows" id="@field.id" name="@field.name" placeholder="@placeholder">@field.value.getOrElse("")</textarea>
}
@fieldHelpers(field: Field, help: String) = {
	<span class="help-block">@help</span>
	@if(field.hasErrors) {
		<span class="help-block">@{field.errors.map { error => Messages(error.message, error.args: _*) }}</span>
	} else {
		<span class="help-block">@{field.constraints.map { constraint => Messages(constraint._1, constraint._2) }}</span>
	}
}

@defining(if(label.length > 0) label else field.name) { _label =>
	@defining(if(placeholder.length > 0) placeholder else _label ) { _placeholder =>
		@if(horizontal && !inline){
			<div class="form-group @if(field.hasErrors) {has-error}">
				<label for="@field.id" class="control-label col-sm-2">@_label</label>
				<div class="col-sm-10">
					@fieldInput(field, rows, _placeholder)
					@fieldHelpers(field, help)
				</div>
			</div>
		} else {
			<div class="form-group @if(field.hasErrors) {has-error}">
				<label for="@field.id" class="control-label @if(inline) {sr-only}">@_label</label>
				@fieldInput(field, rows, _placeholder)
				@fieldHelpers(field, help)
			</div>
		}
	}
}
