/* Bootstrap integration */

.form-horizontal .form-group .form-group {
	margin-bottom: 0px;
}
.form-horizontal .form-inline .form-group {
	margin-right: 0px;
	margin-left: 0px;
}

/* App CSS */

.inline-form {
	display: inline;
}

.dom-template {
	display: none;
}

.card-black {
	border-radius:3px;
	color:#545454;
	border: 1px solid #8c8c8c;
	border-top: 6px solid #1d1717;
}
