@import "dashboard/_variables";
@import "dashboard/_mixins";
@import "dashboard/_global";
@import "dashboard/_loading";
@import "dashboard/_content";
@import "dashboard/_header";
@import "dashboard/_sidebar";
@import "dashboard/_widgets";
@import "dashboard/_hamburg";
@import "_global";
@import "_recipes";
@import "_selections";
@import "_phonedemo";

[ng-click], [ui-sref] {
  cursor: pointer;
}

a.active {
  font-weight: bold;
  text-decoration: underline;
}

ul, ol {
  padding-left: 30px;
}

.source {
  display: block;
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Form */
.input-small { max-width: 80px; }
.input-medium { max-width: 120px; }
.form-group .form-group { margin-bottom: 0px; }

.btn-xxs, .btn-group-xxs > .btn {
  padding: 0px 4px;
  font-size: 11px;
}

.table {
  background: #fff;
  thead {
    background: #eee;
  }
}

.maj {
  &:first-letter {
    text-transform: uppercase !important;
  }
}
