@(pageTitle: String, id: Option[String], alimentForm: Form[models.Aliment], categories: Seq[(String, String)], rarities: List[String], currencyValues: List[String], unitValues: List[String])

@import helper._
@import helpers.bs3Tmpl.form._
@import helpers.custom._

@priceForm(priceField: Field) = {
	<div class="form-inline field-elt">
		@bs3Number(priceField("amount"), label="Amount", inline=true)
		@bs3Select(priceField("currency"), label="Currency", options=options(currencyValues), inline=true)
		<div class="form-group"><span class="form-control text">/</span></div> 
		@bs3Select(priceField("unit"), label="Unit", options=options(unitValues), inline=true)
		@bs3Text(priceField("source"), label="Source", inline=true)
		<div class="form-group">
			<button class="btn btn-danger field-remove"><span class="glyphicon glyphicon-minus"></span></button>
		</div>
	</div>
}

@admin.main(pageTitle, "aliments") {
	<div class="row">
		<div class="col-md-12 card-black">
			<h2>@if(!id.isDefined) { Create new } else { Edit } aliment</h2>
			@helper.form(if(!id.isDefined) routes.Aliments.create else routes.Aliments.update(id.get), 'class -> "form-horizontal") {
				@bs3Hidden(alimentForm("id"))
				@bs3Text(alimentForm("name"), label="Name", horizontal=true)
				<div class="form-group">
					<label class="control-label col-md-2">Category</label>
					<div class="col-md-10 form-inline" id="category">
						@bs3Select(alimentForm("category")("name"), label="Name", options=categories, inline=true)
						<button type="button" class="btn btn-default add-option-to-select" data-target="category">New category</button>
					</div>
				</div>
				@bs3Select(alimentForm("rarity"), label="Rarity", options=options(rarities), horizontal=true)
				<div class="form-group">
					<label class="control-label col-md-2">Prices</label>
					<div class="col-md-10 repeated-field">
						<div class="field-template">@priceForm(alimentForm("prices[x]"))</div>
						@helper.repeat(alimentForm("prices"), min=0) { priceField =>
							@priceForm(priceField)
						}
						<button class="btn btn-success field-add"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
			            <a href="@routes.Aliments.index()" class="btn btn-default">@if(!id.isDefined) { Cancel } else { Return }</a>
			            <button type="submit" class="btn btn-primary">@if(!id.isDefined) { Create } else { Update } aliment</button>
					</div>
		        </div>
			}
		</div>
		@*
		<div class="col-md-6 card-black">
			<h2>@if(!id.isDefined) { Create new } else { Edit } aliment</h2>
			@defining(true) { horizontal =>
				@helper.form(if(!id.isDefined) routes.Aliments.create else routes.Aliments.update(id.get)) {
					<input type="hidden" name="@alimentForm("id").name" value="@alimentForm("id").value">
					@bs3Text(alimentForm("name"), label="Name", horizontal=horizontal)
					<div class="form-group">
				    	<div class="col-sm-offset-2 col-sm-10">
				      		<button type="button" class="btn btn-default pull-right add-option-to-select" data-target="category">New category</button>
				    	</div>
				  	</div>
					@bs3Select(alimentForm("category"), label="Category", options=categories, horizontal=horizontal)
					@bs3Select(alimentForm("rarity"), label="Rarity", options=options(rarities), horizontal=horizontal)
					<div class="form-group">
					    <label class="col-sm-2 control-label">Prices</label>
					    <div class="col-sm-10 form-inline price-forms">
							<div class="price-template dom-template">@priceInput(alimentForm("prices[x]"))</div>
					    	@helper.repeat(alimentForm("prices"), min=1) { priceField =>
	    						@priceInput(priceField)
							}
							<div style="padding: 6px 0px;">
								<button class="btn btn-xs btn-success price-add" data-price-cpt=""><span class="glyphicon glyphicon-plus"></span></button>
							</div>
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2 control-label">Prices</label>
					    <div class="col-sm-10 form-inline">
					    	<div>
								<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
								<div class="form-group"><label class="sr-only">Price</label><p class="form-control-static">1.53</p></div>
								<div class="form-group"><label class="sr-only">Currency</label><p class="form-control-static">euro</p></div>
								<div class="form-group"><label class="sr-only">Unit</label><p class="form-control-static">/ kg</p></div>
								<div class="form-group"><label class="sr-only">Date</label><p class="form-control-static">le 18 mai 2014</p></div>
								<div class="form-group pull-right"><label class="sr-only">Source</label><p class="form-control-static"><a href="http://" target="source">http://</a></p></div>
							</div>
					    	<div>
								<button class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
								<div class="form-group">
									<label class="sr-only">Price</label>
									<input type="number" step="any" class="form-control" placeholder="Price">
								</div>
								<div class="form-group">
									<label class="sr-only">Currency</label>
								    <select class="form-control" placeholder="Currency">
								  		<option value="euro">euro</option>
								  		<option value="dollar">dollar</option>
								  	</select>
								</div>
								<div class="form-group">
									/ <label class="sr-only">Unit</label>
								    <select class="form-control" placeholder="Unit">
								  		<option value="kg">kg</option>
								  		<option value="l">litre</option>
								  		<option value="unit">unit</option>
								  	</select>
								</div>
								<div class="form-group pull-right">
									<label class="sr-only">Source</label>
									<input type="text" class="form-control" placeholder="Source">
								</div>
							</div>
							<div>
								<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
							</div>
						</div>
					</div>
					<div class="form-group pull-right">
			            <a href="@routes.Aliments.index()" class="btn btn-default">@if(!id.isDefined) { Cancel } else { Return }</a>
			            <button type="submit" class="btn btn-primary">@if(!id.isDefined) { Create } else { Update } aliment</button>
			        </div>
				}
			}
		</div>
		*@
	</div>
}