<div class="row">
  <div class="col-md-8">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-comment"></i> Global message ({{filtered.length}})
        <button type="button" class="btn btn-sm btn-success pull-right" ng-click="crud.fn.create()" style="margin-left: 10px;"><i class="fa fa-plus"></i> Créer un message</button>
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-show="crud.data.status.loading && !(crud.data.elts && crud.data.elts.length > 0)"></rd-loading>
        <div class="alert alert-danger" role="alert" ng-show="crud.data.status.error"><strong>Error!</strong> {{crud.data.status.error}}</div>
        <div class="table-responsive" ng-show="crud.data.elts && crud.data.elts.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th sort="crud.data.currentSort" name="sticky" ng-click="crud.fn.sort('sticky')">Sticky</th>
                <th>Message</th>
                <th>Versions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elt in filtered = (crud.data.elts | filter:search)" ng-click="crud.fn.toggle(elt)" ng-class="{active: crud.data.selectedElt && elt.id === crud.data.selectedElt.id}">
                <td><span class="label" ng-class="{'label-default': !elt.sticky, 'label-danger': elt.sticky}">{{elt.sticky ? 'Oui' : 'Non'}}</span></td>
                <td>
                  <div class="alert alert-{{elt.category}}" style="max-width: 384px;">
                    <span ng-bind-html="trustHtml(elt.content)"></span>
                  </div>
                </td>
                <td>
                  <span ng-repeat="version in elt.versions">
                    <span class="label label-primary">{{version}}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4" ng-show="crud.data.selectedElt && !crud.data.form">
    <div class="card">
      <h4 class="card-heading">
        <span class="pull-right">
          <a class="btn btn-xs btn-default" href="{{crud.fn.eltRestUrl(crud.data.selectedElt)}}" target="_blank"><i class="fa fa-external-link"></i></a>
          <a class="btn btn-xs btn-info" ng-click="crud.fn.edit(crud.data.selectedElt)"><i class="fa fa-pencil-square-o"></i></a>
          <loading-button btn-class="btn-xs btn-danger" btn-icon="fa fa-trash-o" btn-loading="crud.data.status.removing" ng-click="crud.fn.remove(crud.data.selectedElt)"></loading-button>
        </span>
        Sticky: <span class="label" ng-class="{'label-default': !crud.data.selectedElt.sticky, 'label-danger': crud.data.selectedElt.sticky}">{{crud.data.selectedElt.sticky ? 'Oui' : 'Non'}}</span>
      </h4>
      <div class="alert alert-{{crud.data.selectedElt.category}}" style="max-width: 384px;">
        <span ng-bind-html="trustHtml(crud.data.selectedElt.content)"></span>
      </div>
      <p class="footer">
        <span ng-repeat="version in crud.data.selectedElt.versions"> <span class="label label-primary">{{version}}</span></span>
      </p>
    </div>
  </div>
  
  <div class="col-md-4" ng-show="crud.data.form">
    <form ng-submit="crud.fn.save()">
      <div class="card">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="sticky" ng-model="crud.data.form.sticky"> sticky
          </label>
        </div>
        <div class="form-group">
          <label for="category">Apparence du message</label>
          <select id="category" name="category" class="form-control" ng-model="crud.data.form.category" ng-options="category for category in data.messageCategories" required>
            <option value="">--</option>
          </select>
        </div>
        <div class="form-group">
          <label for="content">Message</label>
          <textarea id="content" name="content" class="form-control" rows="5" ng-model="crud.data.form.content" placeholder="Ex:bonjour :)" required></textarea>
        </div>
      </div>

      <div class="card" ng-show="crud.data.form.content">
        <div class="form-group">
          <label>Preview :</label>
          <div class="form-control-static">
            <div class="alert alert-{{crud.data.form.category}}" style="max-width: 384px; margin-bottom: 0px;">
              <button type="button" class="close">&times;</button>
              <span ng-bind-html="trustHtml(crud.data.form.content)"></span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="form-group">
          <label for="versions">Versions cibles</label>
          <select id="versions" name="versions" class="form-control" ng-model="crud.data.form.versions" ng-options="v for v in data.appVersions" ng-multiple="true" multiple size="6" required>
            <option value="">--</option>
          </select>
        </div>
      </div>

      <div class="card">
        <div class="pull-right">
          <loading-button btn-type="submit" btn-class="btn-primary" btn-loading="crud.data.status.saving" ng-show="!crud.data.form.id">Créer</loading-button>
          <loading-button btn-type="submit" btn-class="btn-success" btn-loading="crud.data.status.saving" ng-show="crud.data.form.id">Enregistrer</loading-button>
        </div>
        <a class="btn btn-default" ng-click="crud.fn.cancelEdit()">Annuler</a>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
