<div class="row">
  <div class="col-md-8">
    <div class="widget">
      <div class="widget-header">
        <i class="fa fa-comment"></i> Global message
        <button type="button" class="btn btn-sm btn-success pull-right" ng-click="create()" style="margin-left: 10px;"><i class="fa fa-plus"></i> Créer un message</button>
        <input type="text" class="form-control input-sm pull-right" placeholder="Search ..." ng-model="search">
        <div class="clearfix"></div>
      </div>
      <div class="widget-body no-padding">
        <rd-loading ng-if="status.loading && !(model.elts && model.elts.length > 0)"></rd-loading>
        <div class="alert alert-danger" role="alert" ng-if="status.error"><strong>Error!</strong> {{status.error}}</div>
        <div class="table-responsive" ng-if="model.elts && model.elts.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th sort="config.sort" name="type" ng-click="sort('type')">Type</th>
                <th sort="config.sort" name="isProd" ng-click="sort('isProd')">Prod</th>
                <th>Message ({{filtered.length}})</th>
                <th>Versions</th>
                <th sort="config.sort" name="updated" ng-click="sort('updated', true)">Mis à jour</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="message in filtered = (model.elts | filter:search)" ng-click="toggle(message)" ng-class="{active: model.selected && message.id === model.selected.id}">
                <td><span class="label" ng-class="{'label-default': message.type==='standard', 'label-success': message.type==='sticky', 'label-danger': message.type==='exec'}">{{message.type}}</span></td>
                <td><span class="label" ng-class="{'label-default': !message.isProd, 'label-danger': message.isProd}">{{message.isProd ? 'Oui' : 'Non'}}</span></td>
                <td>
                  <div class="alert alert-{{message.display}}" style="max-width: 384px;">
                    <span ng-bind-html="trustHtml(message.content)"></span>
                  </div>
                </td>
                <td>
                  <span ng-repeat="target in message.targets">
                    <span class="label label-primary">{{target}}</span>
                  </span>
                </td>
                <td>{{message.updated ? message.updated : message.created | date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4" ng-if="model.selected && !model.form">
    <div class="card">
      <h4 class="card-heading">
        <span class="pull-right">
          <a class="btn btn-xs btn-default" href="{{eltRestUrl(model.selected)}}" target="_blank"><i class="fa fa-external-link"></i></a>
          <a class="btn btn-xs btn-info" ng-click="edit(model.selected)"><i class="fa fa-pencil-square-o"></i></a>
          <loading-button btn-class="btn-xs btn-danger" btn-icon="fa fa-trash-o" btn-loading="status.removing" ng-click="remove(model.selected)"></loading-button>
        </span>
        Type: <span class="label" ng-class="{'label-default': model.selected.type==='standard', 'label-success': model.selected.type==='sticky', 'label-danger': model.selected.type==='exec'}">{{model.selected.type}}</span>
        Prod: <span class="label" ng-class="{'label-default': !model.selected.isProd, 'label-danger': model.selected.isProd}">{{model.selected.isProd ? 'Oui' : 'Non'}}</span>
      </h4>
      <div class="alert alert-{{model.selected.display}}" style="max-width: 384px;">
        <span ng-bind-html="trustHtml(model.selected.content)"></span>
      </div>
      <div>
        <h4>Afficher le message si :</h4>
        <pre>{{model.selected.shouldDisplay}}</pre>
      </div>
      <div>
        <h4>Executer :</h4>
        <pre>{{model.selected.exec}}</pre>
      </div>
      <p class="footer">
        <span ng-repeat="target in model.selected.targets"> <span class="label label-primary">{{target}}</span></span> |
        Modifié le {{model.selected.updated ? model.selected.updated : model.selected.created | date}}
      </p>
    </div>
  </div>
  
  <div class="col-md-4" ng-if="model.form">
    <form ng-submit="save()">
      <div class="card">
        <div class="form-group">
          <label for="type">Type de message</label>
          <select id="type" name="type" class="form-control" ng-model="model.form.type" ng-options="type for type in data.messageTypes" required>
            <option value="">--</option>
          </select>
        </div>
        <div class="form-group">
          <label for="display">Apparence du message</label>
          <select id="display" name="display" class="form-control" ng-model="model.form.display" ng-options="display for display in data.messageDisplay" required>
            <option value="">--</option>
          </select>
        </div>
        <div class="form-group">
          <label for="content">Message</label>
          <textarea id="content" name="content" class="form-control" rows="5" ng-model="model.form.content" placeholder="Ex:bonjour :)" required></textarea>
        </div>
      </div>

      <div class="card" ng-if="model.form.content">
        <div class="form-group">
          <label>Preview :</label>
          <div class="form-control-static">
            <div class="alert alert-{{model.form.display}}" style="max-width: 384px;">
              <button type="button" class="close">&times;</button>
              <span ng-bind-html="trustHtml(model.form.content)"></span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="form-group">
          <label for="shouldDisplay">Conditions d'affichage</label>
          <textarea id="shouldDisplay" name="shouldDisplay" class="form-control" rows="5" ng-model="model.form.shouldDisplay" required></textarea>
        </div>
        <div class="form-group">
          <label for="exec">Code exécuté</label>
          <textarea id="exec" name="exec" class="form-control" rows="5" ng-model="model.form.exec" required></textarea>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="isProd" ng-model="model.form.isProd"> send in prod
          </label>
        </div>
        <div class="form-group">
          <label for="targets">Versions cibles</label>
          <select id="targets" name="targets" class="form-control" ng-model="model.form.targets" ng-options="v for v in data.appVersions" ng-multiple="true" multiple size="6" required>
            <option value="">--</option>
          </select>
        </div>
      </div>

      <div class="card">
        <div class="pull-right">
          <loading-button btn-type="submit" btn-class="btn-primary" btn-loading="status.saving" ng-if="!model.form.id">Créer</loading-button>
          <loading-button btn-type="submit" btn-class="btn-success" btn-loading="status.saving" ng-if="model.form.id">Enregistrer</loading-button>
        </div>
        <a class="btn btn-default" ng-click="cancelEdit()">Annuler</a>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
