<div class="container">
  <div class="row">
    <div class="col-md-12 main" ng-if="isLogged()">
      <h1 class="page-header">Accueil</h1>
      <div>User: {{user | json}}</div>
      <div>Firebase db : <a href="https://crackling-fire-7710.firebaseio.com/" target="_blank">https://crackling-fire-7710.firebaseio.com/</a></div>
      <div>Firebase app : <a href="https://crackling-fire-7710.firebaseapp.com/" target="_blank">https://crackling-fire-7710.firebaseapp.com/</a></div>
      <div>Image api : <a href="https://mediacru.sh/docs/api" target="_blank">https://mediacru.sh/</a></div>
      <div>
        <i class="fa fa-circle-o"></i> <i class="fa fa-adjust"></i> <i class="fa fa-circle"></i> <i class="fa fa-check-circle-o"></i> <i class="fa fa-check-circle"></i><br>
        <i class="fa fa-square-o"></i> <i class="fa fa-square"></i> <i class="fa fa-check-square-o"></i> <i class="fa fa-check-square"></i> <i class="fa fa-plus-square"></i> <i class="fa fa-check"></i><br>
        <i class="fa fa-star-o"></i> <i class="fa fa-star-half-o"></i> <i class="fa fa-star"></i><br>
        <i class="fa fa-heart-o"></i> <i class="fa fa-certificate"></i> <i class="fa fa-tag"></i> <i class="fa fa-tags"></i><br>
        <i class="fa fa-shopping-cart"></i> <i class="fa fa-glass"></i> <i class="fa fa-beer"></i> <i class="fa fa-spoon"></i> <i class="fa fa-cutlery"></i><br>
      </div>
    </div>
    <div class="col-md-12 main" ng-if="!isLogged()">
      <h1 class="page-header">Welcome to Cookers admin !</h1>
    </div>
  </div>
</div>