@(env: String)
<!doctype html>
<html>
  <head>
    <title>Cookers admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon" type="image/png">

    <link href="@routes.Assets.at("vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("styles/dashboard.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("styles/phonedemo.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("styles/main.css")" rel="stylesheet" media="screen">

    <script src="@routes.Assets.at("vendor/jquery-2.1.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/angular-cookies.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/angular-ui-router.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/ui-bootstrap-tpls.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/firebase.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/firebase-simple-login.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/angularfire.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/moment.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/moment-fr.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/moment-duration-format.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/lodash.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/speakingurl.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/mediacrush.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/md5.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("vendor/highcharts.js")" type="text/javascript"></script>
    
    <script>var ENV = '@env';</script>
    <script src="@routes.Assets.at("scripts/_config.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/_log.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/routingConfig.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/common/utils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/business/backend.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/business/backend-firebase.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/business/crud-utils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/business/crud-utils-firebase.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/business/price-utils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/business/quantity-utils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/directives.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/filters.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/services.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/controllers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/dashboard/directives.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/dashboard/services.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("scripts/dashboard/controllers.js")" type="text/javascript"></script>
  </head>
  <body ng-app="app">
  	<ui-view></ui-view>
  </body>
</html>