<div id="page-wrapper" ng-class="{'active': state.toggle}" ng-cloak>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">
          Dashboard
          <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
      </li>
      <li class="sidebar-title"><span>DASHBOARD</span></li>
      <li class="sidebar-list"><a ui-sref="user.dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a></li>
      <li class="sidebar-list"><a ui-sref="user.tables">Tables <span class="menu-icon fa fa-table"></span></a></li>
      <!--<li class="sidebar-list"><a href="#">Servers <span class="menu-icon fa fa-tasks"></span></a></li>
      <li class="sidebar-list"><a href="#">Settings <span class="menu-icon fa fa-cogs"></span></a></li>-->
      <li class="sidebar-title separator"><span>DATA</span></li>
      <li class="sidebar-list" title="Aliments"><a ui-sref="user.data.foods">Aliments <span class="menu-icon fa fa-spoon"></span></a></li>
      <li class="sidebar-list" title="Recettes"><a ui-sref="user.data.recipes">Recettes <span class="menu-icon fa fa-cutlery"></span></a></li>
      <li class="sidebar-list" title="Sélections"><a ui-sref="user.data.selections">Sélections <span class="menu-icon fa fa-dot-circle-o"></span></a></li>
      <li class="sidebar-title separator"><span>ADMIN</span></li>
      <li class="sidebar-list" title="Global messages"><a ui-sref="user.admin.globalmessages">Global messages <span class="menu-icon fa fa-comment"></span></a></li>
      <li class="sidebar-list" title="Batchs"><a ui-sref="user.admin.batchs">Batchs <span class="menu-icon fa fa-cog"></span></a></li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-4"><a href="http://cookers.io/?dnt" target="_blank">Home</a></div>
      <div class="col-xs-4"><a href="https://crackling-fire-7710.firebaseapp.com/" target="_blank">Admin</a></div>
      <div class="col-xs-4"><a href="http://cookers.uservoice.com/" target="_blank">UserVoice</a></div>
    </div>
  </div><!-- End Sidebar -->

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar -->
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown">
              <a href="#" class="dropdown-toggle"><img src="images/avatar.jpg"></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Joe Bloggs</li>
                <li class="divider"></li>
                <li class="link"><a href="#">Profile</a></li>
                <li class="link"><a href="#">Menu Item</a></li>
                <li class="link"><a href="#">Menu Item</a></li>
                <li class="divider"></li>
                <li class="link"><a ng-click="logout()">Logout</a></li>
              </ul>
            </div>
            <div class="item dropdown">
              <a href="#" class="dropdown-toggle"><i class="fa fa-bell-o"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Notifications</li>
                <li class="divider"></li>
                <li><a href="#">Server Down!</a></li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">{{config.header.title}}</div>
            <div class="breadcrumb-links">
              <span ng-repeat="l in config.header.levels">
                <a ui-sref="{{l.state}}" class="maj" ng-if="l.state">{{l.name}}</a>
                <span class="maj" ng-if="!l.state">{{l.name}}</span>
                <span ng-if="!$last"> / </span>
              </span>
            </div>
          </div>
        </div>
      </div><!-- End Header Bar -->

      <!-- Main Content -->
      <ui-view></ui-view>
    </div><!-- End Page Content -->
  </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->