<div class="container">
  <div class="row">
    <div class="col-md-12 main">
      <h1 class="page-header">Repas</h1>
      <div class="row">
        <div class="col-md-9">
          <table class="table">
            <thead>
              <tr>
                <th class="hide">Id</th>
                <th>Nom</th>
                <th>Plats</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elt in elts">
                <td class="hide">{{elt.id}}</td>
                <td>{{elt.name}}</td>
                <td>
                  <div ng-if="elt.starter && elt.starter.name">Entrée: {{elt.starter.name}}</div>
                  <div ng-if="elt.mainCourse && elt.mainCourse.name">Plat: {{elt.mainCourse.name}}</div>
                  <div ng-if="elt.desert && elt.desert.name">Dessert: {{elt.desert.name}}</div>
                  <div ng-if="elt.wine && elt.wine.name">Vin: {{elt.wine.name}}</div>
                </td>
                <td>
                  <button type="button" class="btn btn-xs btn-info" ng-click="edit(elt)"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-xs btn-danger" ng-click="remove(elt)"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-3">
          <form name="meal" ng-submit="save()">
            <div class="form-group">
              <label for="name">Nom</label>
              <input id="name" name="name" type="text" class="form-control" ng-model="form.name" placeholder="Ex: pomme de terre" required>
            </div>
            <div class="form-group">
              <label for="starter">Entrée</label>
              <select id="starter" name="starter" class="form-control" ng-model="form.starter.id">
                <option value="">--</option>
                <option ng-repeat="course in courses" value="{{course.id}}" ng-selected="form.starter.id === course.id">{{course.name}} ({{course.category}})</option>
              </select>
            </div>
            <div class="form-group">
              <label for="mainCourse">Plat</label>
              <select id="mainCourse" name="mainCourse" class="form-control" ng-model="form.mainCourse.id">
                <option value="">--</option>
                <option ng-repeat="course in courses" value="{{course.id}}" ng-selected="form.mainCourse.id === course.id">{{course.name}} ({{course.category}})</option>
              </select>
            </div>
            <div class="form-group">
              <label for="desert">Dessert</label>
              <select id="desert" name="desert" class="form-control" ng-model="form.desert.id">
                <option value="">--</option>
                <option ng-repeat="course in courses" value="{{course.id}}" ng-selected="form.desert.id === course.id">{{course.name}} ({{course.category}})</option>
              </select>
            </div>
            <div class="form-group">
              <label for="wine">Vin</label>
              <select id="wine" name="wine" class="form-control" ng-model="form.wine.id">
                <option value="">--</option>
                <option ng-repeat="course in courses" value="{{course.id}}" ng-selected="form.wine.id === course.id">{{course.name}} ({{course.category}})</option>
              </select>
            </div>
            <a class="btn btn-default" ng-click="cancel()">Annuler</a>
            <button type="submit" class="btn btn-primary" ng-if="!form.id">Créer</button>
            <button type="submit" class="btn btn-success" ng-if="form.id">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>