<div class="container">
  <div class="row">
    <div class="col-md-12 main">
      <h1 class="page-header">Recettes <button type="button" class="btn btn-success pull-right" ui-sref="app.recipe.create"><i class="fa fa-plus"></i> Créer une recette</button></h1>
      <input type="text" class="form-control" placeholder="Search..." ng-model="search">
      <table class="table">
        <thead>
          <tr>
            <th class="hide">Id</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Prix</th>
            <th>Pour manger</th>
            <th>Source</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="elt in elts | filter:search">
            <td class="hide">{{elt.id}}</td>
            <td>{{elt.name}}</td>
            <td>{{elt.category}}</td>
            <td>{{elt.price | price}}</td>
            <td>{{elt.time.eat}} {{elt.time.unit}}</td>
            <td>
              <div source data="elt.source"></div>
            </td>
            <td>
              <a class="btn btn-xs btn-default" ui-sref="app.recipe.detail({id: elt.id})"><i class="fa fa-eye"></i></a>
              <button type="button" class="btn btn-xs btn-info" ng-click="edit(elt)"><i class="fa fa-pencil-square-o"></i></button>
              <button type="button" class="btn btn-xs btn-danger" ng-click="remove(elt)"><i class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>