<div class="container">
  <div class="row">
    <div class="col-md-12 main">
      <h1 class="page-header">Recettes de la semaine</h1>
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th class="hide">Id</th>
                <th>Semaine</th>
                <th>Recettes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="elt in elts">
                <td class="hide">{{elt.id}}</td>
                <td>{{elt.week}}</td>
                <td>
                  <ol>
                    <li ng-repeat="recipe in elt.recipes" title="{{recipe.price | price}}">{{recipe.name}}</li>
                  </ol>
                </td>
                <td>
                  <button type="button" class="btn btn-xs btn-info" ng-click="edit(elt)"><i class="fa fa-pencil-square-o"></i></button>
                  <button type="button" class="btn btn-xs btn-danger" ng-click="remove(elt)"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <form name="weekrecipe" ng-submit="save()">
            <div class="form-group">
              <label for="week">Semaine</label>
              <input id="week" name="week" type="number" class="form-control" ng-model="form.week" placeholder="Ex: 26" required>
            </div>

            <div class="form-group">
              <label>Recettes de la semaine</label>
              <div class="form-inline" ng-repeat="weekRecipe in form.recipes" style="margin-bottom: 5px;">
                <div class="form-group">
                  <label for="recipe_{{$index}}">Recette {{$index+1}}</label>
                  <select id="recipe_{{$index}}" name="recipe_{{$index}}" class="form-control" ng-model="weekRecipe.id">
                    <option value="">--</option>
                    <option ng-repeat="recipe in recipes" value="{{recipe.id}}" ng-selected="recipe.id === weekRecipe.id">{{recipe.name}}</option>
                  </select>
                </div>
                <button type="button" class="btn btn-danger" ng-click="removeElt(form.recipes, $index)"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-default" ng-click="moveDownElt(form.recipes, $index)" ng-if="!$last"><i class="fa fa-arrow-down"></i></button>
              </div>
              <button type="button" class="btn btn-default btn-xs" ng-click="addElt(form.recipes)">Ajouter une recette</button>
            </div>

            <a class="btn btn-default" ng-click="cancel()">Annuler</a>
            <button type="submit" class="btn btn-primary" ng-if="!form.id">Créer</button>
            <button type="submit" class="btn btn-success" ng-if="form.id">Enregistrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>